dist: trusty
sudo: required
language: python
cache: pip
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

before_install:
  - sudo add-apt-repository -y ppa:kirillshkrogalev/ffmpeg-next
  - sudo apt-get -y -qq update
  - sudo apt-get install -y -qq ffmpeg
  - mkdir media

  # Ensure PIP is up-to-date to avoid warnings.
  - python -m pip install --upgrade pip
  # Ensure setuptools is up-to-date to avoid environment_markers bug.
  - pip install --upgrade setuptools
  # The default py that is installed is too old on some platforms, leading to version conflicts
  - pip install --upgrade py

install:
  - echo "No install action required. Implicitly performed by the testing."

# before_script:

script:
  - python setup.py test --pytest-args "tests/ --doctest-modules -v --cov moviepy --cov-report term-missing"
  # Now the *code* is tested, let's check that the setup runs without falling over.
  - python setup.py install
  - python setup.py install docs
  - python setup.py install test
  - python setup.py install optional

after_success:
  - coveralls

matrix:
    fast_finish: true
