dist: trusty
sudo: required
language: python
cache: pip
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

before_install:
  - sudo add-apt-repository -y ppa:kirillshkrogalev/ffmpeg-next
  - sudo apt-get -y -qq update
  - sudo apt-get install -y -qq ffmpeg
  - mkdir media
install:
  - python setup.py install
  - python setup.py tests

before_script:
  - py.test tests/ --cov
script: py.test tests/ --doctest-modules -v --cov moviepy --cov-report term-missing
after_success:
  - coveralls
matrix:
    fast_finish: true
