# Minimal Appveyor file to install just MatPlotLib!
#
# Some ideas loosely based on https://github.com/ogrisel/python-appveyor-demo

environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_env.cmd"

  matrix:
  
    - PYTHON: "C:\\Python27-x64"
      PYTHON_VERSION: "2.7.13"
      PYTHON_ARCH: "64"
      MINICONDA: C:\Miniconda

    - PYTHON: "C:\\Python33-x64"
      PYTHON_VERSION: "3.3.5"
      PYTHON_ARCH: "64"
      MINICONDA: C:\Miniconda3-x64

    - PYTHON: "C:\\Python36-x64"
      PYTHON_VERSION: "3.6.1"
      PYTHON_ARCH: "64"
      MINICONDA: C:\Miniconda36-x64

    - PYTHON: "C:\\Python27"
      PYTHON_VERSION: "2.7.13"
      PYTHON_ARCH: "32"
      MINICONDA: C:\Miniconda

    - PYTHON: "C:\\Python34-x64"
      PYTHON_VERSION: "3.6.1"
      PYTHON_ARCH: "32"
      MINICONDA: C:\Miniconda36

install:
  
  # Dump some debugging information about the machine.
  # - ECHO "Filesystem root:"
  # - ps: "ls \"C:/\""
  #
  # - ECHO "Installed SDKs:"
  # - ps: "ls \"C:/Program Files/Microsoft SDKs/Windows\""
  #
  # - ECHO "Installed projects:"
  # - ps: "ls \"C:\\projects\""
  # - ps: "ls \"C:\\projects\\moviepy\""
  
  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

  - "set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - "conda create -q -n test-environment python=%PYTHON_VERSION% matplotlib=2.0.2"
    
build_script:

  # Build the compiled extension
  - ECHO "I don't actually build anything!"
